<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav">
      <button color="primary" mat-button routerLink="/customers">Customers</button>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar color="primary" *ngIf="this.authService.isLoggedIn" >
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"  (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" *ngIf="this.authService.isLoggedIn" (click)="logout()">
        <span>Logout</span>
      </button>
    </mat-toolbar>
      <app-login  *ngIf="!this.authService.isLoggedIn" ></app-login>
      <router-outlet  *ngIf="this.authService.isLoggedIn" ></router-outlet>
  </div>
</mat-drawer-container>


