<mat-card fxFlex="50%" fxFlex.xs="50%">
  <mat-card-title> <span matBadge="{{customerCount}}"  matTooltip="Customer Count"   matTooltipPosition="right"  matBadgeOverlap="false">Customers</span></mat-card-title>
  <mat-card-actions>
    <button mat-raised-button color="primary"   matTooltip="Create New Customer"   matTooltipPosition="right" type="button" (click)="newCustomer();">New Customer</button>
  </mat-card-actions>
  <mat-card-content>
    <div class="mat-elevation-z8">
      <div fxLayout fxLayoutAlign="center center" class="customer-filter">
        <mat-form-field fxFlex="40%">
          <input matInput type="text" (keyup)="doFilter($event.target)" (keydown)="doFilter($event.target)" placeholder="Filter">
        </mat-form-field>
      </div>
      <table mat-table [dataSource]="dataSource"  matSort  (matSortChange)="sortData($event)">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Name"> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Name"> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName + ' ' +element.lastName}}</td>
        </ng-container>

         <!-- Gender Column -->
         <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef > Gender </th>
          <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>


        <!-- Address Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef > Address </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <!-- dob Column -->
        <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef > Date of Birth </th>
          <td mat-cell *matCellDef="let element"> {{element.dob | date: 'dd MMM yyyy' }} </td>
        </ng-container>

        <!-- email Column -->
         <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef > Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>


        <!-- phoneNo Column -->
        <ng-container matColumnDef="phoneNo">
          <th mat-header-cell *matHeaderCellDef > Phone No </th>
          <td mat-cell *matCellDef="let element"> {{element.phoneNo}} </td>
        </ng-container>

        <ng-container matColumnDef="isActive">
          <th mat-header-cell *matHeaderCellDef > Status </th>
          <td mat-cell *matCellDef="let element"> <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select [value]="element.isActive" (selectionChange)="statusChange(element,$event.value)">
              <mat-option *ngFor="let status of statuses" [value]="status.value">
                {{status.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field> </td>
        </ng-container>

        <!-- Details Column -->
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Details </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary"  (click)="redirectToDetails(element.id)">
                <mat-icon class="mat-18">reorder</mat-icon>
            </button>
          </td>
        </ng-container>

         <!-- Edit Column -->
         <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Edit </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary"   (click)="redirectToEdit(element.id)">
                <mat-icon class="mat-18">edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn"     (click)="redirectToDelete(element)">
                <mat-icon class="mat-18">delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator [length]="customerCount" [pageIndex]="pageIndex" [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20]" (page)="pageChanged($event)" aria-label="Select page">
    </mat-paginator>
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator> -->
    </div>
  </mat-card-content>
</mat-card>

<!--
<h4>List of Customers</h4>

<div *ngFor="let customer of customers ; let i=index">

  <span >{{i+1}}.</span> {{customer.firstName}}

</div> -->



